@charset "UTF-8";

* {
    /* Resetar modulos de espaçamentos*/
    margin: 0px;
    padding: 0px;
}

html {
    font-family: "Arial", sans-serif;
    font-weight: 500;
    /*color: #002b4f;
    height: 100%;
    /*background-image: linear-gradient(LightSkyBlue, Teal);*/
}

body#index {
    background: url(../_images/fundo_3.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#formulario_triagem {
    background: url(../_images/fundo_1.png);
}

body#relatorio {
    background: url(../_images/fundo_6.jpg) no-repeat top center fixed;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 30px;
}

main {
    width: 40%;
    height: 76vh;
    background-color: white;
    border: 2px #1a567b solid;
    border-radius: 15px;
    padding: 25px;
    margin: 30px 100px;
    text-align: center;
    

    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    /* Sombra mais suave */
    animation: fadeIn 1s ease-out;
    overflow-y: auto;
    max-height: 80vh;
    /* Aumenta o limite de altura do formulário */
}

form#formulario {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

h1 {
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 25px;
    color: #1a567b;
    font-weight: bold;
    padding: 15px 0;
    text-transform: uppercase;
    animation: slideIn 1s ease-in-out;
}

div#Titles {
    margin-top: -5px;
    padding-top: 5px;
    width: 100%;
    background-color: white;
    border: 2px #1a567b solid;
    box-shadow: 0 3px 10px #1a567b;
}

h2 {
    display: none;
    animation: fadeIn 1s;
    width: 100%;
    padding: 10px 0;
    font-size: 25px;
    color: #1a567b;
    text-shadow: 0 0 25px rgba(0, 122, 255, 0.8);
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: #1a567b;
    font-weight: bold;
    margin: 20px 0;
}


label {
    color: #1a567b;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    word-break: keep-all;
    animation: slideIn 1s ease-in-out;
}

input {
    width: 92%;
    font-size: 15pt;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px #1a567b solid;
}

input:focus {
    border-color: #007aff;
    box-shadow: 0 0 12px rgba(0, 122, 255, 0.5);
    outline: none;
}

input[type="radio"]:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

textarea {
    width: 92%;
    height: 100px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 15pt;
    padding: 10px;
    resize: none;
    border: 2px #1a567b solid;
}

select {
    width: 95%;
    font-size: 15pt;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    border: 2px #1a567b solid;
}

input[type=radio] {
    border: 0px;
    width: 18px;
    height: 23px;
    accent-color: #1a567b;
    margin: 0 10px 0 20px;
    vertical-align: baseline;
}

div#div_sexo {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /*margin-bottom: 30px;*/
}

div#relatorio_final {
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

p.feedback {
    margin-bottom: 30px;
}

.pass {
    color: green;
    font-size: 10pt;
    word-break: break-all;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 30px;
}

.fail {
    color: red;
    font-size: 10pt;
    word-break: break-all;
    border-radius: 10px;
    padding: 5px 10px;
    margin-bottom: 30px;
}

p.relatorio {
    color: #2d3b48;
    font-size: 15pt;
    word-break: break-all;
    border-radius: 10px;
    padding: 5px 10px;
    animation: slideIn 1s ease-in-out;
}

/* -------------------------------------------------------- */

/* Animações */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Barra de rolagem personalizada */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #1a567b;
    border-radius: 15px;

}

::-webkit-scrollbar-track {
    background-color: white;
    margin: 10px 0;
}

/* Muda a cor de fundo do input */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}


/*    --------------------- Botões --------------------- */

div#btn_verificar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

input.btn_confirma {
    width: 92%;
    font-size: 15pt;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px #1a567b solid;
    background-color: #1a567b;
    color: white;
    text-decoration: none;
}

input.btn_confirma:hover {
    color: #1a567b;
    background-color: white;
    border: 2px #1a567b solid;
    transition-duration: 0.4s;
    cursor: pointer;
}

a.btn_voltar {
    width: 92%;
    font-size: 15pt;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #d0dbe6;
    background-color: #2d3b48;
    border: 2px #d0dbe6 solid;
    text-decoration: none;
}

a.btn_voltar:hover {
    color: #2d3b48;
    border: 2px #1a567b solid;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

a.btn_triagem {
    width: 92%;
    font-size: 15pt;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px #1a567b solid;
    background-color: #1a567b;
    color: white;
    text-decoration: none;
}

a.btn_triagem:hover {
    color: #1a567b;
    background-color: white;
    border: 2px #1a567b solid;
    transition-duration: 0.4s;
    cursor: pointer;
}